extends layout
block content
  section.backdrop
    img(src=movie.lgPoster, data-poster=movie.poster, data-default=movie.lgPoster)
  section.banner
    h2 Summary
  article.summary
    section.container
      div.row
        section.desktop-c-12
          h3.hvr-underline-from-center Spirited Away
          span= movie.releaseDate
          span Movie DB rating: #{movie.rating}
          p= movie.summary
  section.banner
    h2 reviews
  article.reviews
    section.container
      a(href="addReview/"+movie.id) Add Review
      div.row
        each review in movie.reviews
          section.desktop-c-6.mobile-c-12
            img(src=review.image)
            h3.hvr-underline-from-right= review.reviewer
            p= review.reviewParagraph
              


