extends layout
block content
  section.container.profile
    .row
      h2= user.name
      img(src=user.image)
      h3 About Me:
      p= user.biography
      h3 Favorite Movies
      ul
        -var anyFavorites = false;
        for movie in user.favorites
          if movie !== ""
            li= movie
            - anyFavorites = true;
      if anyFavorites = true
        p No Favorite Movies!

  section.banner
    h2 Reviews
  section.container.reviews
    .row
      for review in user.reviews
        section.desktop-c-6.mobile-c-12
          img(src="https://image.tmdb.org/t/p/w500" + review.Movie.poster)
          h3= review.Movie.title
          p= review.reviewParagraph
